<%= form_with model: @client, local: true do |f| %>
  <% if @client.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are validation errors. Please check all required fields:</h4>
      <ul>
        <li>Nome (Name) is required</li>
        <li>CPF is required and must be unique</li>
        <li>Email is required</li>
        <li>Telefone (Phone) is required</li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="client_nome" class="form-label">Nome</label>
        <%= f.text_field :nome, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <label for="client_cpf" class="form-label">CPF</label>
        <%= f.text_field :cpf, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="client_email" class="form-label">Email</label>
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <label for="client_telefone" class="form-label">Telefone</label>
        <%= f.text_field :telefone, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit "Salvar Cliente", class: "btn btn-primary" %>
    <%= link_to 'Cancelar', clients_path, class: 'btn btn-secondary' %>
  </div>
<% end %>