<%= form_with model: @mobile_device, local: true do |f| %>
  <% if @mobile_device.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@mobile_device.errors.count, "erro") %> impediu que este dispositivo fosse salvo:</h4>
      <ul>
        <% @mobile_device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <%= f.label :client_id, "Cliente", class: "form-label" %>
        <%= f.select :client_id, 
            options_from_collection_for_select(@clients, :id, :nome, @mobile_device.client_id), 
            { prompt: 'Selecione um cliente' }, 
            { class: "form-select" } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :marca, class: "form-label" %>
        <%= f.text_field :marca, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :modelo, class: "form-label" %>
        <%= f.text_field :modelo, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :imei, "IMEI", class: "form-label" %>
        <%= f.text_field :imei, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :serial, "Número Serial", class: "form-label" %>
        <%= f.text_field :serial, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit "Salvar Dispositivo", class: "btn btn-primary" %>
    <%= link_to 'Cancelar', mobile_devices_path, class: 'btn btn-secondary' %>
  </div>
<% end %>